<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Patient Overview</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <ul class="nav nav-tabs navtab-custom">
            <li ng-class="step === 1 ? 'active' : ''">
              <a aria-expanded="true" data-toggle="tab" ng-click="step = 1">
                <span class="visible-xs"><i class="fa fa-flask"></i></span>
                <span class="hidden-xs">Samples</span>
              </a>
            </li>
            <li ng-class="step === 2 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 2">
                <span class="visible-xs"><i class="fa fa-medkit"></i></span>
                <span class="hidden-xs">Treatments</span>
              </a>
            </li>
            <li ng-class="step === 3 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 3">
                <span class="visible-xs"><i class="fa fa-charts"></i></span>
                <span class="hidden-xs">Progress</span>
              </a>
            </li>
            <li ng-class="step === 4 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 4">
                <span class="visible-xs"><i class="fa fa-charts"></i></span>
                <span class="hidden-xs">History</span>
              </a>
            </li>
            <li ng-class="step === 5 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 5">
                <span class="visible-xs"><i class="fa fa-search"></i></span>
                <span class="hidden-xs">Profile</span>
              </a>
            </li>
        </ul>
        
        <div class="tab-content">
          <div id="samples" class="tab-pane" ng-class="step === 1 ? 'active' : ''">
            <p class="text-muted m-b-30 font-13">
				Click on the sample name to edit. You can also view results for samples in <code>READY</code> state.
			</p>
			<a href="#/patients/{{patient.id}}/samples/new" class="btn btn-primary btn-custom waves-effect waves-light m-b-5" role="button">
				<i class="fa fa-plus m-r-5"></i> <span>Create new</span>
			</a>
			<table class="table table-hover" ng-if="samples && samples.length > 0">
				<thead>
					<tr><th>Sample</th><th>Extraction date</th><th>Status</th><th>Results</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in samples">
						<td>
							<a href="#/patients/{{patient.id}}/samples/{{s.id}}">{{s.name}}</a>
						</td>
						<td>{{s.extractionDate}}</td>
						<td>
							<span ng-if="'READY' === s.status">
					    		<span class="label label-primary">{{s.status}}</span>
					    	</span>

					    	<span ng-if="'CREATED' === s.status">
					    		<span class="label label-warning">{{s.status}}</span>
					    	</span>

					    	<span ng-if="'PROCESSING' === s.status">
					    		<span class="label label-purple">
					    			<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;{{s.status}}
					    		</span>
					    	</span>
					    	
					    	<span ng-if="'KILLED' === s.status">
					    		<span class="label label-danger">{{s.status}}</span>
					    	</span>
						</td>
						<td>
							<span ng-if="'READY' === s.status">
								<a href="#/samples/{{s.id}}/results" class="btn btn-success waves-effect waves-light btn-xs m-b-5"><i class="fa fa-flask"></i> Results
								</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
          </div>
          <div id="treatments" class="tab-pane" ng-class="step === 2 ? 'active' : ''">
            <a href="#/patients/{{patient.id}}/treatments/new" class="btn btn-primary btn-custom waves-effect waves-light m-b-5" role="button">
				<i class="fa fa-plus m-r-5"></i> <span>Create new</span>
			</a>
			<table class="table table-hover" ng-if="patient.treatments && patient.treatments.length > 0">
				<thead>
					<tr><th>Drug</th><th>Start Date</th><th>Stop Date</th><th></th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in patient.treatments">
						<td>{{t.drug}}</td>
						<td>{{t.startDate}}</td>
						<td>{{t.stopDate}}</td>
						<td>
							<a href="#/patients/{{patient.id}}/treatments/{{t.id}}"
	               class="btn btn-success waves-effect waves-light btn-xs m-b-5">
	              <i class="fa fa-pencil"></i> Edit
	            </a>
						</td>
					</tr>
				</tbody>
			</table>
          </div>
          
          <div class="tab-content">
	      	<div id="progress" class="tab-pane" ng-class="step === 3 ? 'active' : ''">
	      		<div ng-if="analyzedSamples && analyzedSamples.length > 0">
	      			<div progress-chart data="patient.progressData"></div>
	      		</div>
				<div ng-if="!analyzedSamples || analyzedSamples.length === 0">
					<p class="text-muted m-b-30 font-13">
						Patient has no analyzed samples
					</p>
				</div>
	      	</div>
       	  </div>
          
          <!-- History tab -->
          <div id="history" class="tab-pane" ng-class="step === 4 ? 'active' : ''">
            <div class="timeline">
	            <article class="timeline-item" ng-repeat="hevnt in historyEvents" ng-class="$index % 2 == 0 ? 'alt' : ''">
	            	<div class="text-right" ng-if="$index === 0">
	            		<div class="time-show first">
	                    	<a class="btn btn-primary w-lg">{{hevnt.title}} <br/> {{hevnt.ts}}</a>
	                  	</div>
	            	</div>
	            	<div class="timeline-desk" ng-if="$index > 0">
	                  <div class="panel">
	                    <div class="panel-body">
	                    	<span class="timeline-icon"></span>
	                    	<div class="row">
					          <div class="col-xs-2">			          
					            <i class="fa fa-flask fa-3x" ng-if="'SAMPLE' === hevnt.type"></i>
					            <i class="fa fa-medkit fa-3x" ng-if="'TREATMENT' === hevnt.type"></i>
					          </div>
					          <div class="col-xs-10 text-right">
			                    <h4 class="text-danger">{{hevnt.ts}}</h4>
			                    <p>{{hevnt.title}}</p>
					          </div>
					       	</div>
	                    </div>
	                  </div>	                  
	                </div>
	            </article>
	          </div>
	        </div>
	        
	        <!-- Profile tab -->
	        <div id="details" class="tab-pane" ng-class="step === 5 ? 'active' : ''">
	        	<form role="form" class="form-horizontal">
	            <div class="form-group">
	                <label class="col-sm-2 control-label">First Name</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.firstName}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Last Name</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.lastName}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Birthday</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.birthDate}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Diagnosis</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.diagnosis}}</p>
	                </div>
	            </div>
	            
	            <div class="form-group">
	                <label class="col-sm-2 control-label">Diagnosis Date</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.diagnosisDate}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	            	<div class="col-sm-offset-2 col-sm-10">
		            	<a href="#/patients/{{patient.id}}/edit" class="btn btn-primary btn-custom waves-effect waves-light" role="button">
							<i class="fa fa-pencil"></i> <span>Edit</span>
						</a>
	            	</div>
	            </div>
		        </form>
	        </div>
        </div>
    </div>

    <div class="col-lg-offset-1 col-lg-2">
    	<div class="row">
	    	<div class="card-box bg-purple">
	        <div class="row">
	          <div class="col-xs-4 text-center text-white fa-4x" style="opacity: 0.2">
	            <i class="fa fa-flask"></i>
	          </div>
	          <div class="col-xs-8 text-right">
	            <h3 class="text-white counter">{{samples ? samples.length : 0}}</h3>
				<p class="text-white text-nowrap">{{samples.length === 1 ? 'Sample' : 'Samples'}}</p>
	          </div>
	       	</div>
	      </div>
	    </div>

	    <div class="row">
	    	<div class="card-box bg-warning">
	        <div class="row">
	          <div class="col-xs-4 text-center text-white fa-4x" style="opacity: 0.2">
	            <i class="fa fa-medkit"></i>
	          </div>
	          <div class="col-xs-8 text-right">
	            <h3 class="text-white counter">
	            	{{patient.treatments ? patient.treatments.length : 0}}
	            </h3>
				<p class="text-white text-nowrap">{{patient.treatments.length === 1 ? 'Treatment' : 'Treatments'}}</p>
	          </div>
	       	</div>
	      </div>
	    </div>
    </div>
</div>