<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Patient Overview</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <ul class="nav nav-tabs navtab-custom">
            <li ng-class="step === 1 ? 'active' : ''">
              <a aria-expanded="true" data-toggle="tab" ng-click="step = 1">
                <span class="visible-xs"><i class="fa fa-flask"></i></span>
                <span class="hidden-xs">Samples</span>
              </a>
            </li>
            <li ng-class="step === 2 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 2">
                <span class="visible-xs"><i class="fa fa-medkit"></i></span>
                <span class="hidden-xs">Treatments</span>
              </a>
            </li>
            <li ng-class="step === 3 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 3">
                <span class="visible-xs"><i class="fa fa-charts"></i></span>
                <span class="hidden-xs">History</span>
              </a>
            </li>
            <li ng-class="step === 4 ? 'active' : ''">
              <a aria-expanded="false" data-toggle="tab" ng-click="step = 4">
                <span class="visible-xs"><i class="fa fa-search"></i></span>
                <span class="hidden-xs">Profile</span>
              </a>
            </li>
        </ul>
        <div class="tab-content">
          <div id="samples" class="tab-pane" ng-class="step === 1 ? 'active' : ''">
            <p class="text-muted m-b-30 font-13">
				    	Click on the sample name to edit. You can also view results for samples in <code>READY</code> state.
						</p>
						<a href="#/patients/{{patient.id}}/samples/new" class="btn btn-primary btn-custom waves-effect waves-light m-b-5" role="button">
							<i class="fa fa-plus m-r-5"></i> <span>Create new</span>
						</a>

						<table class="table table-hover" ng-if="samples && samples.length > 0">
							<thead>
								<tr><th>Sample</th><th>Status</th><th>Results</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in samples">
									<td>
										<a href="#/patients/{{patient.id}}/samples/{{s.id}}">{{s.name}}</a>
									</td>
									<td>
										<span ng-if="'READY' === s.status">
								    		<span class="label label-primary">{{s.status}}</span>
								    	</span>

								    	<span ng-if="'CREATED' === s.status">
								    		<span class="label label-warning">{{s.status}}</span>
								    	</span>

								    	<span ng-if="'PROCESSING' === s.status">
								    		<span class="label label-purple">{{s.status}}</span>
								    	</span>
									</td>
									<td>
										<span ng-if="'READY' === s.status">
											<a href="#/samples/{{s.id}}/results" class="btn btn-success waves-effect waves-light btn-xs m-b-5"><i class="fa fa-flask"></i> Results
											</a>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
          </div>
          <div id="treatments" class="tab-pane" ng-class="step === 2 ? 'active' : ''">
            <a href="#/patients/{{patient.id}}/treatments/new" class="btn btn-primary btn-custom waves-effect waves-light m-b-5" role="button">
							<i class="fa fa-plus m-r-5"></i> <span>Create new</span>
						</a>
						<table class="table table-hover" ng-if="patient.treatments && patient.treatments.length > 0">
							<thead>
								<tr><th>Drug</th><th>Start Date</th><th>Stop Date</th><th></th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="t in patient.treatments">
									<td>{{t.drug}}</td>
									<td>{{t.startDate}}</td>
									<td>{{t.stopDate}}</td>
									<td>
										<a href="#/patients/{{patient.id}}/treatments/{{t.id}}"
				               class="btn btn-success waves-effect waves-light btn-xs m-b-5">
				              <i class="fa fa-pencil"></i> Edit
				            </a>
									</td>
								</tr>
							</tbody>
						</table>
          </div>
          <div id="history" class="tab-pane" ng-class="step === 3 ? 'active' : ''">
            <div class="timeline">
	            <article class="timeline-item alt">
                <div class="text-right">
                  <div class="time-show first">
                    <a class="btn btn-primary w-lg" href="#">Today</a>
                  </div>
                </div>
	            </article>
	            <article class="timeline-item alt">
                <div class="timeline-desk">
                  <div class="panel">
                    <div class="panel-body">
                      <span class="arrow-alt"></span>
                      <span class="timeline-icon"></span>
                      <h4 class="text-danger">1 hour ago</h4>
                      <p class="timeline-date text-muted"><small>08:25 am</small></p>
                      <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                    </div>
                  </div>
                </div>
	            </article>
	            <article class="timeline-item ">
	                <div class="timeline-desk">
	                    <div class="panel">
	                        <div class="panel-body">
	                            <span class="arrow"></span>
	                            <span class="timeline-icon"></span>
	                            <h4 class="text-success">2 hours ago</h4>
	                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
	                            <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

	                        </div>
	                    </div>
	                </div>
	            </article>
	            <article class="timeline-item alt">
	                <div class="timeline-desk">
	                    <div class="panel">
	                        <div class="panel-body">
	                            <span class="arrow-alt"></span>
	                            <span class="timeline-icon"></span>
	                            <h4 class="text-primary">10 hours ago</h4>
	                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
	                            <p>3 new photo Uploaded on facebook fan page</p>
	                            <div class="album">
	                                <a href="#">
	                                    <img src="assets/images/small/img1.jpg" alt="">
	                                </a>
	                                <a href="#">
	                                    <img src="assets/images/small/img2.jpg" alt="">
	                                </a>
	                                <a href="#">
	                                    <img src="assets/images/small/img3.jpg" alt="">
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </article>
	          </div>
	        </div>
	        <div id="details" class="tab-pane" ng-class="step === 4 ? 'active' : ''">
	        	<form role="form" class="form-horizontal">
	            <div class="form-group">
	                <label class="col-sm-2 control-label">First Name</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.firstName}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Last Name</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.lastName}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Birthday</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.birthDate}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	                <label class="col-sm-2 control-label">Diagnosis</label>
	                <div class="col-sm-10">
	                  <p class="form-control-static">{{patient.diagnosis}}</p>
	                </div>
	            </div>

	            <div class="form-group">
	            	<div class="col-sm-offset-2 col-sm-10">
		            	<a href="#/patients/{{patient.id}}/edit" class="btn btn-primary btn-custom waves-effect waves-light" role="button">
										<i class="fa fa-pencil"></i> <span>Edit</span>
									</a>
	            	</div>
	            </div>
		        </form>
	        </div>
        </div>
    </div>

    <div class="col-lg-offset-1 col-lg-2">
    	<div class="row">
	    	<div class="card-box bg-purple">
	        <div class="row">
	          <div class="col-xs-4 text-center text-white fa-4x" style="opacity: 0.2">
	            <i class="fa fa-flask"></i>
	          </div>
	          <div class="col-xs-8 text-right">
	            <h3 class="text-white counter">{{samples ? samples.length : 0}}</h3>
							<p class="text-white text-nowrap">Samples</p>
	          </div>
	       	</div>
	      </div>
	    </div>

	    <div class="row">
	    	<div class="card-box bg-warning">
	        <div class="row">
	          <div class="col-xs-4 text-center text-white fa-4x" style="opacity: 0.2">
	            <i class="fa fa-medkit"></i>
	          </div>
	          <div class="col-xs-8 text-right">
	            <h3 class="text-white counter">
	            	{{patient.treatments ? patient.treatments.length : 0}}
	            </h3>
							<p class="text-white text-nowrap">Treatments</p>
	          </div>
	       	</div>
	      </div>
	    </div>
    </div>
</div>
