<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">{{patient ? 'Edit' : 'New'}} Patient</h4>
    </div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="card-box">
			<h4 class="m-t-0 header-title">
		    	Patient Details
		    </h4>
		    <table class="table table table-hover">
		    	<tr><td><strong>First name</strong></td><td>{{patient.firstName}}</td></tr>
		    	<tr><td><strong>Last name</strong></td><td>{{patient.lastName}}</td></tr>
		    	<tr><td><strong>Birth date</strong></td><td>{{patient.birthDate}}</td></tr>
		    	<tr><td><strong>Diagnosis</strong></td><td>{{patient.diagnosis}}</td></tr>
			</table>
		</div>
	</div>

	<div class="col-sm-6" ng-show="patient">
		<div class="card-box">
			<h4 class="m-t-0 header-title">
		    	Samples
		    </h4>
		    <p class="text-muted m-b-30 font-13">
		        Click on the sample name to edit. You can also view results for samples in <code>READY</code> state.
		    </p>

			<div class="list-group">
                <div class="list-group-item" ng-repeat="s in samples">
                	<span ng-if="'READY' === s.status">
                		<span class="label label-success">{{s.status}}</span>
                	</span>

                	<span ng-if="'CREATED' === s.status">
                		<span class="label label-warning">{{s.status}}</span>
                	</span>

                	<span ng-if="'PROCESSING' === s.status">
                		<span class="label label-purple">{{s.status}}</span>
                	</span>

                	<div style="float: right;">
                    	<a href="#/patients/{{patient.id}}/samples/{{s.id}}">{{s.name}}</a> 
                    	<span ng-if="'READY' === s.status"><a href="#/samples/{{s.id}}/results">| Results</a></span>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6" ng-show="patient">
		<div class="card-box">
			<h4 class="m-t-0 header-title">
		    	Treatments
		    </h4>
		    <p class="text-muted m-b-30 font-13">
		        Click on the treatment to edit
		    </p>
			<table class="table table table-hover" ng-if="patient.treatments && patient.treatments.length > 0">
				<tr><th>Drug</th><th>Start Date</th><th></th></tr>
				<tr ng-repeat="t in patient.treatments">
					<td>{{t.drug}}</td>
					<td>{{t.startDate}}</td>
					<td>
						<a href="#/patients/{{patient.id}}/treatments/{{t.id}}" 
                	   		class="btn btn-primary waves-effect waves-light btn-xs m-b-5">
                	   		<i class="glyphicon glyphicon-pencil"></i> Edit
                		</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>