<div class="row">
	<div class="col-sm-6">
		<div class="card-box">
			<div class="row">
				<div class="col-md-12">
				    <h4 class="m-t-0 header-title">
				    	New sample
				    </h4>
				    <p class="text-muted m-b-30 font-13">
				        Patient {{patient.firstName}} {{patient.lastName}}
				    </p>

				    <form role="form" ng-submit="saveSample()" data-parsley-validate>
				        <div class="form-group">
				        	<label for="sampleName">Sample name</label>
							<input type="text" placeholder="Enter name" class="form-control" id="sampleName" ng-model="sample.name" required>
				        </div>
				        <div class="form-group">
				        	<label for="description">Description</label>
							<input type="text" class="form-control" id="description" ng-model="sample.details" placeholder="Description">
				        </div>
				        <div class="form-group">
				        	<label for="fupload">File Upload</label>
				            <div class="dropzone" id="fupload" dropzone></div>
				        </div>
				        <button class="btn btn-primary waves-effect waves-light" ng-click="saveSample()">Save</button>
				        <button class="btn btn-purple waves-effect waves-light" ng-click="analyzeSample()">Analyze</button>
				    </form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="col-lg-4">
            <div class="panel panel-border panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">How it Works</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
	</div>
</div>
