<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">{{patient ? 'Edit' : 'New'}} patient</h4>
    </div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="card-box">
			<h4 class="m-t-0 header-title">
		    Patient Details
		   </h4>

		   <p class="text-muted m-b-30 font-13">
		   	Enter patient profile details
		   </p>

		   <div class="alert alert-danger" ng-show="errorMessage">
		   	{{errorMessage}}
       </div>

			<form role="form" ng-submit="savePatient()" data-parsley-validate class="form-horizontal">
				<div class="form-group">
					<label for="first-name" class="col-sm-3 control-label">First Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="first-name" ng-model="patient.firstName" required>
					</div>
				</div>
				<div class="form-group">
					<label for="last-name" class="col-sm-3 control-label">Last Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="last-name" ng-model="patient.lastName" required>
					</div>
				</div>
				<div class="form-group">
					<label for="birth-date" class="col-sm-3 control-label">Birthday</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="birth-date" placeholder="mm/dd/yyyy"
						   ng-model="patient.birthDate" date-picker required>
					</div>
				</div>
				<div class="form-group">
					<label for="diagnosis" class="col-sm-3 control-label">Diagnosis</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="diagnosis" ng-model="patient.diagnosis" required>
					</div>
				</div>
				<div class="form-group">
					<label for="diagnosis-date" class="col-sm-3 control-label">Diagnosis date</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="diagnosis-date" placeholder="mm/dd/yyyy"
						   ng-model="patient.diagnosisDate" date-picker required>
					</div>
				</div>
				<div class="form-group m-b-0">
        	<div class="col-sm-offset-3 col-sm-9">
          	<button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
						<a href="#/patients/{{patient.id}}?step=4" role="button" class="btn btn-default waves-effect waves-light m-l-5">Cancel</a>
						<a role="button" class="btn btn-danger waves-effect waves-light m-l-5"
				   		 ng-click="removePatient()" ng-show="patient">Terminate</a>
           </div>
        </div>
			</form>
		</div>
	</div>
</div>
